#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

rect, circle {
  fill: steelblue;
  opacity: 0.6;
}
.tick text {
  fill: #8E8883;
  font-size: 2em;
  font-family: sans-serif;
}

.tick line {
  stroke: #c0c0bb;
}

.label-class {
  fill: #8E8883;
  font-size: 3em; 
}